<form action="/form" method="POST">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname">
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email">
  <br><br>
  <div class="btn">
 <input type="reset" value="Limpiar" />
 <input type="submit" value="Enviar" />
 <a href="/"><input type="button" value="Home" /></a>
 </div> 
</form> 
{{#each arrWarnings}}
<p>{{msg}}</p>
{{/each}}